doctype html 
html
  head
    title OLearn Online learning Platform
    block scripts
    block style
  body
    nav#navbar
        ul
            div#olearn
                h1 Olearn            
            li #[a(href="/") Categories ]    
            li #[a(href="/") Premium Courses ]
            li #[a(href="/") Olearn Business ]
            li #[a(href="/") Courses ]
            li #[a(href="/") My learning ]
            li #[a(href="/") Blog ]
            li #[a(href="/contact") Contact Us ]
            li #[a(href="/") sign up ]
            img.login(src='../static/img/login.png' alt='logo')
    hr
    block content
    footer#footer 
        | Copyright © 2021 OnlinelearningPlatform.com | All right reserved
